.contact {
  display: flex;
  flex-direction: column;
  margin: 0px 125px;
  justify-content: flex-start;

  .header {
    display: flex;
    justify-content: space-between;
  }

  .page-title {
    font-size: 2rem;
    line-height: 1em;
    font-weight: 700;
    color: #2e2f4d;
    margin-bottom: 50px;
    text-align: left;
  }

  .text-information {
    text-align: left;
  }

  .search-content {
    width: 400px;
    margin-bottom: 50px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
  }

  .order-content {
    width: 200px;
    margin-bottom: 50px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
  }

  .new-content {
    margin-bottom: 50px;
    margin-left: 15px;
    display: flex;
    align-items: flex-end;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: -10px;
    margin-right: -10px;
  }

  .amount {
    font-size: 1.4rem;
  }
}

@media (min-width: 900px) {
  .contact {
    .content {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 1300px) {
  .contact {
    .content {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (min-width: 1800px) {
  .contact {
    .content {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media (min-width: 2400px) {
  .contact {
    .content {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
}

.show {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
}

.account-content {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.account {
  display: flex;
  border: 1px solid #c3c3d9;
  padding: 0px;
  margin: 0px;
  height: 80px;
  border-radius: 8px;
  background-color: #c3c3d92b;
  flex: 0 32%;

  .color {
    background-color: #e54d42;
    padding: 0px;
    margin: 0px;
    width: 65px;
    margin: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.4rem;
    font-weight: 600;
  }

  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    flex-direction: column;
    width: -webkit-fill-available;

    .name {
      text-align: left;
      width: 100%;
    }

    .positive {
      text-align: left;
      margin-top: 7px;
      color: green;
      font-weight: 500;
      width: 100%;
    }
  }
}
