body {
  background-color: #f5f8fa;
  margin: 0px;
}

#app {
  font-family: Barlow, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-content {
  display: flex;
  flex: 1;
}

.input {
  border: 1px solid #c3c3d9;
  border-radius: 5px;
  padding: 10px 15px;
  outline: none;
  transition: 0.2s ease-in-out;
  box-sizing: border-box;
  font-family: Barlow, sans-serif;
  width: 100%;
}

.input-line {
  border: none;
  border-bottom: 1px solid #c3c3d9;
  background-color: transparent;
  border-radius: 0px;
}

.btn {
  font-family: Barlow, sans-serif;
  transition: all 0.3s;
  font-size: 0.9rem;
  border-radius: 3px;
  outline: none;
  padding: 7px 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  border-radius: 8px;

  &:hover {
    cursor: pointer;
  }
}

.btn-primary {
  background-color: #7855f2;
  color: #ffffff;
  border: 1px solid #7855f2;

  &:hover {
    background-color: #6446cc;
    border: 1px solid #6446cc;
  }
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid transparent;
  color: #2e2f4d;
  margin-right: 10px;
  transition: all 0.3s;

  &:hover {
    background-color: #c3c3d9;
    border-color: #c3c3d9;
  }
}
