@import "./colors.scss";

body {
  background-color: #f5f8fa;
  margin: 0px;
}

#app {
  font-family: Barlow, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-content {
  display: flex;
  flex: 1;
}

.input {
  border: 1px solid #c3c3d9;
  border-radius: 5px;
  padding: 10px 15px;
  outline: none;
  transition: 0.2s ease-in-out;
  box-sizing: border-box;
  font-family: Barlow, sans-serif;
  width: 100%;
}

.input-line {
  border: none;
  border-bottom: 1px solid #c3c3d9;
  background-color: transparent;
  border-radius: 0px;
}

.input-error {
  border: 1px solid #b82e24;
}

.btn {
  font-family: Barlow, sans-serif;
  transition: all 0.3s;
  font-size: 0.9rem;
  border-radius: 3px;
  outline: none;
  padding: 7px 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  border-radius: 8px;

  &:hover {
    cursor: pointer;
  }
}

.btn-primary {
  background-color: $primary-color;
  color: #ffffff;
  border: 1px solid $primary-color;
  transition: all 0.3s;

  &:hover {
    background-color: $secondary-color;
    border: 1px solid $secondary-color;
  }
}

.btn-secondary {
  background-color: $secondary-color;
  border: 1px solid $secondary-color;
  color: #ffffff;
  margin-right: 10px;
  transition: all 0.3s;

  &:hover {
    background-color: #c3c3d9;
    border-color: #c3c3d9;
  }
}

.btn-ternary {
  background-color: $ternary-color;
  border: 1px solid $ternary-color;
  color: #ffffff;
  margin-right: 10px;
  transition: all 0.3s;

  &:hover {
    background-color: $primary-color;
    border-color: $primary-color;
  }
}

.table {
  width: 100%;

  tr {
    line-height: 40px;
  }
}

.d-flex {
  display: flex;
}

.align-center {
  justify-content: center;
  align-items: center;
}

.jc-space-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.icon {
  margin-right: 5px;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #00000050;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  .content {
    box-shadow: 0 8px 25px rgba(#aeb0d4, 0.4);
    padding: 25px;
    background-color: #ffffff;
    border-radius: 8px;
    width: 60%;
    display: flex !important;
    flex-direction: column;
  }

  .header {
    display: flex;
    justify-content: space-between;

    .title {
      font-size: 1.4rem;
      line-height: 1em;
      font-weight: 700;
      color: #2e2f4d;
      margin-bottom: 25px;
      text-align: left;
    }

    .close-icon {
      height: 18px;
      color: #c3c3d9;

      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }

  .body {
    .form-row {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
    }

    .form-group {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;

      .col-6 {
        width: 49%;
      }
    }

    .label {
      margin-bottom: 10px;
      display: flex;
      justify-content: flex-start;
      font-size: 0.9rem;
    }

    textarea {
      resize: vertical;
    }

    input[type="color"] {
      -webkit-appearance: none;
      border: none;
      width: 32px;
      height: 32px;
    }
    input[type="color"]::-webkit-color-swatch-wrapper {
      padding: 0;
    }
    input[type="color"]::-webkit-color-swatch {
      border: none;
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
}

.show-modal {
  overflow: hidden;
}
