.principal-login {
  display: flex;
  flex: 1;
  width: 100%;
}

#login {
  width: 100%;
  display: flex;

  .form {
    flex-direction: column;
  }

  .login {
    padding-right: 50px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    .input-content {
      width: 70%;
      margin-bottom: 20px;

      label {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10px;
      }
    }

    .submit {
      display: flex;
      justify-content: flex-start;
    }
  }
}

.message-error {
  color: #b82e24;
  font-size: 0.8rem;
  margin-top: 5px;
  display: flex;
  justify-content: flex-start;
}
